<form name="loginCtrl.loginForm" class="form-signin">
  <div class="row">
    <h2 class="form-signin-heading col-md-12">Welcome to Tangent</h2>

  </div>
  <div class="row">
    <h6 class="col-md-12">Please sign in by using the login form.</h6>
  </div>
  <p class="form-group">
    <label for="username" class="sr-only">Username</label>
    <input name="username" id="username" placeholder="Username" ng-model="loginCtrl.credentials.username"
           class="form-control" type="text" autocomplete="off" ng-keyup="$event.keyCode == 13
                       && loginCtrl.login()" required autofocus/>
    <label for="password" class="sr-only">Password</label>
    <input name="password" id="password" ng-keyup="$event.keyCode == 13
                       && loginCtrl.login()" placeholder="Password" ng-model="loginCtrl.credentials.password"
           class="form-control" type="password" required autocomplete="off"/>
  </p>

  <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="loginCtrl.login()">Login</button>

</form>
