<div class="header" ng-if="token">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-full">
      <div class=" navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li> <a class="glyphicon glyphicon-plus" aria-hidden="true" title="Add Project" ng-click="projectsCtrl.addProject()"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-info" ng-if="projectsCtrl.projects.length < 1" role="alert">
  There are no projects to display.
</div>


<table st-safe-src="rowCollection" st-table="displayCollection" st-set-filter="myStrictFilter" ng-if="projectsCtrl.projects.length > 0" class="table table-striped">
  <thead>
  <tr>
    <th st-sort="firstName">Title</th>
    <th st-sort="firstName">Description</th>
    <th st-sort="firstName">Start Date</th>
    <th st-sort="firstName">End Date</th>
    <th st-sort="firstName">Billable?</th>
    <th st-sort="firstName">Active?</th>
    <th st-sort="firstName">Task Set</th>
    <th st-sort="firstName">Actions</th>
  </tr>

  </thead>
  <tbody>
  <tr ng-repeat="row in projectsCtrl.projects | orderBy:'title'">
    <td>{{row.title | uppercase}}</td>
    <td>{{row.description}}</td>
    <td>{{row.start_date | date:'yyyy-MM-dd'}}</td>
    <td>{{row.end_date | date:'yyyy-MM-dd'}}</td>
    <td>
      <span ng-if="row.is_billable" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span ng-if="!row.is_billable" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </td>
    <td>
      <span ng-if="row.is_active" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      <span ng-if="!row.is_active" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </td>
    <td><button  class="btn btn-primary" href="#" ng-click="projectsCtrl.showTasks(row.task_set)">Tasks: <span class="badge"> {{row.task_set.length}}</span></button></td>
    <td>
      <button  class="btn btn-warning" href="#" ng-click="projectsCtrl.deleteProject(row)">Delete</button>
      <button  class="btn btn-warning" href="#" ng-click="projectsCtrl.editProject(row)">Edit</button>
    </td>
  </tr>
  </tbody>
</table>
